body {
    background-image: url('image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    border: 2px solid black;
    width: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-top: 18%;
    background-color: aliceblue;
}