<%- include('partials/header') %> 

<%- include('partials/navbar') %>

    <section class="p-5">
        <div class="container">
            <h1>Welcome to the news</h1>
            <div class="d-sm-flex">
                <img class="img-fluid w-50" src="clifftop.jpeg" alt="">
            </div>
        </div>
    </section>

<%- include('partials/footer') %> 